name: Docker Image CI (build ans store)

on:
  push:
    branches: 
        - cyril_test_ansible
   
# IMPORTANT : Donne les droits à GitHub d'écrire l'image dans son registre
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Connexion au GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }} # C'est votre nom d'utilisateur automatique
            password: ${{ secrets.GITHUB_TOKEN }} # C'est un mot de passe temporaire généré par GitHub    
        
        - name: Build et Push de l'image
          run: |
            # 1. On crée une étiquette (le nom de l'image)
            IMAGE_NAME="ghcr.io/${{ github.repository }}/app"
            
            # 2. On transforme le nom en minuscules (GitHub déteste les majuscules ici)
            IMAGE_NAME=$(echo $IMAGE_NAME | tr '[:upper:]' '[:lower:]')
            
            # 3. On construit l'image (comme vous faisiez)
            docker build . --tag $IMAGE_NAME:latest
            
            # 4. On l'envoie dans l'entrepôt
            docker push $IMAGE_NAME:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build # Attendre que l'image soit prête
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Déploiement via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. On définit le nom de l'image (doit être le même que dans le build)
            IMAGE="ghcr.io/${{ github.repository }}/app"
            IMAGE=$(echo $IMAGE | tr '[:upper:]' '[:lower:]')

            # 2. Télécharger la nouvelle image
            docker pull $IMAGE

            # 3. Arrêter l'ancien conteneur s'il existe
            docker stop group3_appli_immo || true
            docker rm group3_appli_immo || true

            # 4. Lancer le nouveau
            docker run -d --name group3_appli_immo --network p4_network --restart always -p 5003:8000 $IMAGE


                